<div class="wow">
<div class="row">
    <div class="column">
      <table>
        <tr>
          <th>Blood Group</th>
          <th>Available stock</th>
        </tr>
        <tr>
          <td>A+</td>
          <td><input type="number" name="" id=""></td>
        </tr>
        <tr>
            <td>A-</td>
            <td><input type="number" name="" id=""></td>
        </tr>
        <tr>
            <td>O+</td>
            <td><input type="number" name="" id=""></td>
          </tr>
          <tr>
              <td>O-</td>
              <td><input type="number" name="" id=""></td>
          </tr>
        <tr>
            <td>B+</td>
            <td><input type="number" name="" id=""></td>
        </tr>
        <tr>
            <td>B-</td>
            <td><input type="number" name="" id=""></td>
        </tr>
        <tr>
            <td>AB+</td>
            <td><input type="number" name="" id=""></td>
        </tr>
        <tr>
            <td>AB-</td>
            <td><input type="number" name="" id=""></td>
        </tr>
        
      </table>
    </div>
    <div class="column">
        <table align="center" border="1px">
            <tr>
                <td colspan="5">
                    <h3> Hospital</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="bname">Hospital Name</label>
                </td>
                <td>
                    <label for="grn">Government ID</label>
                </td>
                <td>
                <label for="mobile">PhoneNumber</label>
                </td>
                <td>
                    <label for="city">location</label>
                </td>
                <td>
                    ask
                </td>
                
            </tr>
            <tr>
                <td>
                    <input type="text" name="hname" id="bname">
                </td>
                <td>
                    <input type="text" name="grnh" id="grn">
                </td>
                <td>
                    <input type="number" name="mobile" id="mobile">
                </td>
                <td>
                    <input type="text" name="city" id="city">
                </td>
                <td>
                    <input type="text" name="ask" id="ask">
                </td>
               
            </tr>
            
        </table>
    </div>
    
  </div>
  <br><br>
  <h2>Upload Stock</h2>
  <div class="form">
    <form action="">
        A+<input type="number" name="" id=""><br> <br>
        A-<input type="number" name="" id=""><br><br>
        AB+<input type="number" name="" id=""><br><br>
        AB-<input type="number" name="" id=""><br><br>
        B+<input type="number" name="" id=""><br><br>
        B-<input type="number" name="" id=""><br><br>
        O+<input type="number" name="" id=""><br><br>
        O-<input type="number" name="" id=""><br> <br>
        <button type="submit">Submit</button>
    </form>
  </div>
</div>