<div class="main">
<div class="name">
    <h3 align="center">HOSPITAL__NAME</h3>
    <h3 align="center">Requirements</h3>
    A+<input type="checkbox" name="" id="">
        A- <input type="checkbox" name="" id="">   
        AB+<input type="checkbox" name="" id="">
        AB-<input type="checkbox" name="" id="">
        B+<input type="checkbox" name="" id="">
        B-<input type="checkbox" name="" id="">
        O+<input type="checkbox" name="" id="">
        O-<input type="checkbox" name="" id=""> <br><br>
        <button type="submit" align="center">Submit</button>
</div>

<div class="row">
    <div class="column">
        <table border="1px">
            <tr>
                <td colspan="5">
                    <h3> Citizen</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="bname">Name</label>
                </td>
                <td>
                <label for="mobile">PhoneNumber</label>
                </td>
                <td>
                    <label for="city">location</label>
                </td>
                <td>
                    bloodGroup
                </td>
                
            </tr>
            <tr>
                <td>
                    <input type="text" name="hname" id="bname">
                </td>
                <td>
                    <input type="number" name="mobile" id="mobile">
                </td>
                <td>
                    <input type="text" name="city" id="city">
                </td>
                <td>
                    <input type="text" name="ask" id="ask">
                </td>
               
            </tr>
            
        </table>
     
    </div>
    <div class="column">
        <table border="1px">
            <tr>
                <td colspan="5">
                    <h3> Blood Bank</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="bname">Name</label>
                </td>
                <td>
                <label for="mobile">PhoneNumber</label>
                </td>
                <td>
                    <label for="city">location</label>
                </td>
                <td>
                    Availablity
                </td>
                
            </tr>
            <tr>
                <td>
                    <input type="text" name="hname" id="bname">
                </td>
                <td>
                    <input type="number" name="mobile" id="mobile">
                </td>
                <td>
                    <input type="text" name="city" id="city">
                </td>
                <td>
                    <input type="text" name="ask" id="ask">
                </td>
               
            </tr>
            
        </table>
    </div>
    
  </div>
</div>
  